---
whiskers:
    version: "2.0.0"
    matrix:
        - flavor
    filename: "themes/catppuccin-{{flavor.identifier}}"
---

{%- for name, color in flavor.colors -%}
set ${{ name }} #{{ color.hex }}
{% endfor %}